<meta charset="utf-8">
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="stylesheet" type="text/css" href="assets/boots/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/boots/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="assets/boots/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



<cfoutput>
	

    <div id="" >
        <ul id="" class="nav nav-tabs">
            <li><a href="#mySelf##xfa.prods_main#">Prods</a></li>
            <li><a href="#mySelf##xfa.categs_main#">Categs</a></li>
        </ul>
    </div>

 
</cfoutput>
