body {

}

a, a:visited {color: #404040; text-decoration: none;}


input#search-keyword {
	border: #404040 1px solid;
	border-radius: 5px;
	padding: 3px;
}


select#search-category {
	border: #404040 1px solid;
	border-radius: 5px;
	padding: 3px;
}

a#search-prod  {
	border: #404040 1px solid;
	
	border-radius: 5px;
	padding: 4px; 
	width: 80px; 
	text-align: center;


	display: inline-block;
}



a#add-prod:hover, a#refresh-prod:hover, a#search-prod:hover {}
a#refresh-prod {margin-top: 10px;}



table.grid-data {width: 900px; margin-top: 10px;}
table.grid-data  {border-collapse: collapse; color: #404040;}
.grid-data table, .grid-data th, .grid-data td {padding: 4px; border: #000000 1px solid;}
.grid-data thead {background-color: #404040; color: #FFFFFF;}
.grid-data tbody tr:hover, .grid-data tbody tr:hover a {background-color: #404040; color: #FFFFFF;}

table.grid-view {width: 900px; margin-top: 10px;}
table.grid-view  {border-collapse: collapse; color: #404040;}
.grid-view table, .grid-view th, .grid-view td {padding: 4px; border: #000000 1px solid;}

#frame {width: 900px; margin: 0 auto;}

#header-content {
	background: #2191c0 url("../js/jquery/jquery-ui-1.11.4.custom/images//ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50%;
	border-radius: 5px;
}
#header-content-navigation {padding: 10px; list-style-type: none;}
#header-content-navigation li {display: inline; font-weight: bold; font-size: 14px; padding: 0 20px;}
#header-content-navigation li a {color: #FFFFFF; text-decoration: none;}
#header-content-navigation li a:hover{color: #32E2FF;}

#body-content {margin: 40px 0 20px}

#footer-content {

}


#save-prod { width: 600px; margin: 0 auto;}

#save-prod #save-prod-elements-1 {margin: 2px;}
#save-prod-elements-1 .label {width: 100px; display: block; float:left; padding-top: 4px; text-align: right; margin-right: 10px;}
#save-prod-elements-1 #categ-id {
	border-radius: 5px;
	border:solid 1px #404040;
    padding: 4px;
    width: 412px;
}

#save-prod #save-prod-elements-2 {margin: 2px;}
#save-prod-elements-2 .label {width: 100px; display: block; float:left; padding-top: 4px; text-align: right; margin-right: 10px;}
#save-prod-elements-2 #Prod-name {
	border-radius: 5px;
	border:solid 1px #404040;
    padding: 4px;
    width: 400px;
}
#save-prod-elements-2 #Prod-price {
	border-radius: 5px;
	border:solid 1px #404040;
    padding: 4px;
    width: 400px;
}
#save-prod #save-prod-elements-3 {margin: 2px;}
#save-prod-elements-3 .label {width: 100px; display: block; float:left; padding-top: 4px; text-align: right; margin-right: 10px;}
#save-prod-elements-3 #image {
	border-radius: 5px;
	border:solid 1px #404040;
    padding: 4px;
    width: 400px;
}


#save-prod #save-prod-elements-button {margin: 2px;}
#save-prod #done {
	border-radius: 5px;
	border:solid 1px #404040;
    padding: 4px;
    width: 80px;
    margin-left: 442px;
}

#image-prod #image-prod-elements-1 {margin: 2px;}
#image-prod-elements-1 .label {width: 100px; display: block; float:left; padding-top: 4px; text-align: right; margin-right: 10px;}
#image-prod-elements-1 #image {
	border-radius: 5px;
	border:solid 1px #404040;
    padding: 4px;
    width: 400px;
}

#image-prod { width: 600px; margin: 10px auto 0;}
#image-prod #image-prod-elements-button {margin: 2px;}
#image-prod #done {
	border-radius: 5px;
	border:solid 1px #404040;
    padding: 4px;
    width: 80px;
    margin-left: 442px;
}

.clear-both {clear: both;}
.clear-both-10 {clear: both; height: 10px;}

.foot {
	padding-top: 600px;
}
