<cfset save_prod="#application.prodsmanager.SaveProd(form)#" />

<!---<cfdump var="#save_prod#"/>--->

<cfset response = structNew() />
<cfset response['success'] = false />

<cfif structKeyExists(save_prod, 'recordCount') AND save_prod.recordCount EQ 1>
    <cfset response['success'] = true />
</cfif>

<cfset page_content = response />
