<meta charset="utf-8">
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="stylesheet" type="text/css" href="assets/boots/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/boots/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="assets/boots/css/style.css">


<cfoutput>

    <div id="" >
      <header>
     <h1>BASIC<small>rud. </small></h1>
        <ul id="" class="nav nav-tabs">
            <li><a href="#mySelf##xfa.prods_main#">Prods</a></li>
            <li><a href="#mySelf##xfa.categs_main#">Categories</a></li>
           <li> <a href="<cfoutput>#mySelf##xfa.show_save_prod_form#</cfoutput>" id="add-prod" >Add</a></li>
        </ul>

    </div>

 
</cfoutput>
