<cfset Prod_id = #get_prod_by_id['Prod_id']# />
<cfset Categ_id = #get_prod_by_id['Categ_id']# />
<cfset categ = #get_categ_list['Cat_name'][Categ_id]# />
<cfset Prod_name = #get_prod_by_id['Prod_name']# />
<cfset Prod_price= #get_prod_by_id['Prod_price']# />

<div id="body-content">    
    <cfoutput>
        <table class="table table-hover" >
            <tr>
                <td style="font-weight: bold; width: 150px;">ID:</td>
                <td>#Prod_id#</td>
            </tr>
            <tr>
                <td style="font-weight: bold; width: 150px;">Categ:</td>
                <td>#categ#</td>
            </tr>
            <tr>
                <td style="font-weight: bold; width: 150px;">Product Name:</td>
                <td>#Prod_name#</td>
            </tr>
            <tr>
                <td style="font-weight: bold; width: 150px;">Product Price:</td>
                <td>#Prod_price#</td>
            </tr>
        </table>
    </cfoutput>
    
    <cfset setLocale('Chinese (China)') /> 
    <cfoutput>
        #LsdateFormat(Now(),'short')#
    </cfoutput>
</div>
