<cfset Prod_id = #get_prod_by_id['Prod_id']# />
<cfset Categ_id = #get_prod_by_id['Categ_id']# />
<cfset Prod_name = #get_prod_by_id['Prod_name']# />

<div id="body-content">
    <div id="error-message"></div>
    <form action="" method="" id="save-prod">

        <div id="save-prod-elements-1" >
            <span>Category:</span>
            <select id="categ-id" name="Categ_id">
                <option value="">----Select----</option>
                <cfloop from="1" to="#get_categ_list.recordCount#" index="i">
                    <cfoutput>
                        <option <cfif #Categ_id# EQ #get_categ_list['Category_id'][i]#>selected</cfif> value="#get_categ_list['Category_id'][i]#">#get_categ_list['Cat_name'][i]#</option>
                    </cfoutput>
                </cfloop>
            </select>
            <div class="clear-both-10"></div>
        </div>

        <div id="save-prod-elements-2">
            <span>Product Name:</span>
            <input type="text" id="Prod-name" name="Prod_name" value="<cfoutput>#Prod_name#</cfoutput>" />
            <div class="clear-both-10"></div>
        </div>
<div id="save-prod-elements-2">
            <span>Product Price:</span>
            <input type="text" id="Prod-price" name="Prod_Price" value=""/>
            <div class="clear-both-10"></div>
        </div>
        <div id="save-prod-elements-button">
            <input type="hidden" name="Prod_id" value="<cfoutput>#Prod_id#</cfoutput>" />
            <input type="submit" id="done" value="Done" />
        </div>
    </form>

 

</div>